name: Daily Backup

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create Zip Archive
        run: zip -r backup.zip .

      - name: Upload Backup Artifact
        uses: actions/upload-artifact@v4
        with:
          name: daily-backup
          path: backup.zip
