name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH key
        shell: powershell
        run: |
          $keyPath = "$env:GITHUB_WORKSPACE\key.pem"
          Set-Content -Path $keyPath -Value "${{ secrets.SSH_PRIVATE_KEY }}"
          icacls $keyPath /inheritance:r
          icacls $keyPath /grant:r "$($env:USERNAME):(R)"

      - name: Test SSH connection
        shell: powershell
        run: |
          $keyPath = "$env:GITHUB_WORKSPACE\key.pem"
          ssh -p 44888 -i $keyPath ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "echo Connected!"
