name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to server
        working-directory: /home/dev_user/viraai
        run: |
          echo "Starting deployment..."
          git pull
          pm2 restart index
