name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Setup SSH key
        shell: powershell
        run: |
          Set-Content -Path key.pem -Value "${{ secrets.SSH_PRIVATE_KEY }}"
          icacls key.pem /inheritance:r
          icacls key.pem /grant:r "$($env:USERNAME):(R)"

      - name: Test SSH connection
        shell: powershell
        run: |
          ssh -p 44888 -i key.pem ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "echo Connected!"
