name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Restart PM2 process
        working-directory: /home/dev_user/ViraAI_Project
        run: |
          echo "Starting deployment..."
          pm2 list
          pm2 restart viraai || pm2 start index.js --name viraai
          pm2 status
