name: Deploy via SSH (Custom Port 44888)

on:
  workflow_dispatch:  # اجرای دستی از طریق دکمه Run workflow
  push:               # اجرای خودکار هنگام push به main
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Load SSH key into agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: |
            ${{ secrets.SSH_PRIVATE_KEY }}

      - name: SSH connect to Windows Server
        run: |
          ssh \
            -p 44888 \
            -o IdentitiesOnly=yes \
            -o StrictHostKeyChecking=no \
            viraai.io@107.189.23.167 \
            "whoami && hostname"
