name: Deploy via SSH (Custom Port 44888)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # لود امن کلید در حافظه (بدون mkdir و بدون echo)
      - name: Load SSH key into agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: |
            ${{ secrets.SSH_PRIVATE_KEY }}

      # اتصال واقعی به ویندوز سرور
      - name: SSH connect to Windows Server
        run: |
          ssh \
            -p 44888 \
            -o IdentitiesOnly=yes \
            -o StrictHostKeyChecking=no \
            viraai.io@107.189.23.167 \
            "whoami && hostname"
